<form class="form-horizontal" action="/getConvertedTimeZone" method="post">
<fieldset>
   <div class="form-group">

   <label  class="col-lg-2 control-label">Server Time :</label>
   <% if(typeof zonelist !='undefined'){ %>
   <input type="hidden"  class="form-control" name="zonelist" value="<%=zonelist %>" >
   <%}%>
  
    <input type="text"  class="form-control" placeholder="yyyy-mm-dd HH:MM:SS" name="servertime" value="<%=servertime %>" >
    <label  class="col-lg-2 control-label">Server Zone :</label>
     <input type="text"  class="form-control" placeholder="yyyy-mm-dd HH:MM:SS" name="serverzone" value="<%=currentZone %>" >
   </div>
   </div>
   <div class="col-lg-10">
   </div>
    <div class="form-group">
     <div class="col-lg-10 col-lg-offset-2">
      <label for="convertToTmeZone" class="col-lg-2 control-label">Contert To TimeZone :</label>
      
        <select class="form-control"  name="convertToTmeZone">
      <option value="">Select Zone</option>
          <%
             for (var j = 0; j < zonelist.length; j++){
                  %><option value="<%= zonelist[j] %>"><%= zonelist[j] %><%
             }
         %>
   </select>
     </div>
  </div>
 <div class="form-group">
     <div class="col-lg-10 col-lg-offset-2">
      <button type="submit" class="btn btn-success">Submit</button>
     </div>
  </div>
 </fieldset>
 </form>